.getbowtied_get_this_theme {
	display: none;
}

@media only screen and (min-width: 1024px) {

	.getbowtied_get_this_theme {
		display: inline-block;
		background-color: #000000;
		position: fixed;
		bottom: 59px;
		right: 120px;
		z-index: 99999;
		
		color: #FFF;
		font-family: NeueEinstellung;
		
		padding: 9px 15px 6px 0;
		text-transform: uppercase;
		font-size: 11px;
		line-height: 18px;

		/*height: 80px;
		width: 80px;*/

		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;

		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
		-webkit-box-shadow:  0 2px 4px 0 rgba(0,0,0,0.14);
		-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);

		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;

		animation-name: animFadeUp;
		animation-fill-mode: both;
		animation-duration: 0.4s;
		animation-timing-function: ease;
		animation-delay: 1.5s;

		-webkit-animation-name: animFadeUp;
		-webkit-animation-fill-mode: both;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-timing-function: ease;
		-webkit-animation-delay: 1.5s;

		-moz-animation-name: animFadeUp;
		-moz-animation-fill-mode: both;
		-moz-animation-duration: 0.4s;
		-moz-animation-timing-function: ease;
		-moz-animation-delay: 1.5s;

		-o-animation-name: animFadeUp;
		-o-animation-fill-mode: both;
		-o-animation-duration: 0.4s;
		-o-animation-timing-function: ease;
		-o-animation-delay: 1.5s;
	}

	.purchase-btn
	{
		display: flex;
		-webkit-align-content: center;
		        align-content: center;
	}

	.getbowtied_get_this_theme:hover 
	{
		color: #fff;
		background-color: #7CB442;
	}

	.getbowtied_get_this_theme img.envato-logo,
	.replaced-svg
	{
		width: 17px;
		height: 17px;
		margin: 0 10px;
	}
	
	.replaced-svg path
	{
		fill: #FFFFFF;
	}

}

@-webkit-keyframes animFadeUp 
{
	0%   
	{ 
		opacity: 0; 
		transform: translate3d(0,100%,0) 
	}

	100% 
	{ 
		opacity: 1; 
		transform: translate3d(0,0,0); 
	}
}
@keyframes animFadeUp 
{
	0%   
	{ 
		opacity: 0; 
		transform: translate3d(0,100%,0) 
	}

	100% 
	{ 
		opacity: 1; 
		transform: translate3d(0,0,0); 
	}
}

@-moz-keyframes animFadeUp 
{
	0%   
	{ 
		opacity: 0; 
		transform: translate3d(0,100%,0) 
	}

	100% 
	{ 
		opacity: 1; 
		transform: translate3d(0,0,0); 
	}
}

@-o-keyframes animFadeUp 
{
	0%   
	{ 
		opacity: 0; 
		transform: translate3d(0,100%,0) 
	}

	100% 
	{ 
		opacity: 1; 
		transform: translate3d(0,0,0); 
	}
}


