body.admin-bar .call-to-action-canvas {
  top: 32px;
  height: calc( 100% - 32px); }
  @media all and (max-width: 782px) {
    body.admin-bar .call-to-action-canvas {
      top: 46px;
      height: calc( 100% - 46px); } }

body.show-call-to-action-canvas .call-to-action-canvas {
  right: 700px;
  -webkit-transform: translate3d(700px, 0, 0);
  transform: translate3d(700px, 0, 0); }
  @media all and (max-width: 767px) {
    body.show-call-to-action-canvas .call-to-action-canvas {
      right: 320px;
      -webkit-transform: translate3d(320px, 0, 0);
      transform: translate3d(320px, 0, 0); } }

body.show-call-to-action-canvas .call-to-action-canvas-overlay {
  cursor: pointer;
  opacity: 1;
  visibility: visible; }

body.show-call-to-action-canvas .call-to-action-canvas .call-to-action-toggle {
  opacity: 0;
  visibility: hidden;
  left: 633px; }

body .call-to-action-canvas {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  position: fixed;
  right: -700px;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  width: 700px;
  z-index: 99999; }
  @media all and (max-width: 767px) {
    body .call-to-action-canvas {
      right: -320px;
      width: 320px; } }
  body .call-to-action-canvas .call-to-action-toggle {
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2073%2073'%3E%3Cpath%20d%3D'M35.3616562,0.000873986092 C46.4154531,-0.0279256629 56.461793,0.635606843 63.2168594,4.89111141 C66.3706875,6.87828718 68.632832,9.96811883 70.1005313,13.6405018 C70.8926953,15.6219747 71.3777461,17.7979165 71.8793359,20.0956152 C72.0216289,21.0143525 72.1639219,21.933375 72.3062148,22.8521123 C72.6124727,24.5079495 72.5118125,26.2667241 72.786418,27.9912813 C72.8457305,29.3485717 72.905043,30.7064324 72.9643555,32.0637228 C72.976332,32.6208962 72.9880234,33.1780696 73,33.735243 L73,37.6474329 C72.9940117,38.1926302 72.9880234,38.7381127 72.9823203,39.2835951 L72.9823203,40.2259995 C72.9346992,41.3996565 72.8873633,42.5735986 72.8400273,43.7469704 C72.8160742,44.2627978 72.7924062,44.7784826 72.7687383,45.2941674 C72.6384219,46.728504 72.5078203,48.1632968 72.3775039,49.5976049 C72.1935781,50.8008029 72.0099375,52.0043716 71.8260117,53.2075696 C70.9691172,57.0869108 69.9665078,60.6078532 68.0194609,63.379406 C65.4884141,66.9824987 62.0183477,69.3392795 57.346918,70.8127094 C55.1931328,71.4920675 52.8656875,71.8191003 50.4276016,72.2709126 C49.342582,72.3894474 48.2575625,72.5080393 47.172543,72.6265741 C45.9038828,72.7095513 44.6346523,72.7925285 43.3659922,72.8755342 C42.9391133,72.8933272 42.5122344,72.9110918 42.0853555,72.9288848 C40.6031133,72.9525804 39.1205859,72.9763044 37.6383437,73 L35.3616562,73 C34.8161523,72.9940975 34.2706484,72.988138 33.7251445,72.9822355 C32.6341367,72.9525804 31.5431289,72.9229538 30.4521211,72.8933272 C29.9365586,72.8755342 29.4204258,72.8577411 28.9045781,72.8399481 C27.3870051,72.7214133 25.8688332,72.60285 24.3511176,72.4843152 C23.1653809,72.3242633 21.9793305,72.1641829 20.7936223,72.0041595 C19.84505,71.814481 18.8961926,71.624774 17.9475918,71.435124 C15.3856625,70.7817712 12.9545344,70.0158146 10.9215414,68.8209999 C6.36813789,66.1449707 3.78054453,62.4558212 2.06333359,56.9420001 C1.43088555,54.9111971 1.15160352,52.7112176 0.729287109,50.433422 C0.453312891,48.9449364 0.514222266,47.3707362 0.266792188,45.8276168 C0.231233203,45.2527073 0.195645703,44.6775983 0.160086719,44.1025463 C0.130430469,43.2550953 0.100774219,42.407359 0.0711464844,41.5596228 C0.0474214844,40.3386318 0.023725,39.1173556 0,37.8963645 L0,33.9308525 C0.0414902344,32.6328723 0.0830089844,31.3343217 0.124527734,30.0363415 C0.142292969,29.5561573 0.160086719,29.075973 0.177851953,28.5960739 C0.290517188,27.1851763 0.403182422,25.7742786 0.515819141,24.3636661 C0.675905859,23.1783182 0.836021094,21.9924 0.996107813,20.8070521 C1.75884375,17.2923543 2.41838164,13.9818204 3.98440273,11.2931878 C7.13888672,5.87714295 11.130732,3.3165405 17.9475918,1.5837141 C19.4279805,1.20732265 20.9922621,1.0405128 22.5723699,0.747953988 C23.277875,0.664976782 23.9835797,0.581714431 24.6890563,0.498737224 C25.9874582,0.398081025 27.2862023,0.297424827 28.5846328,0.196483483 C29.0648359,0.172816445 29.5450391,0.149149406 30.0252422,0.125482368 C30.7010625,0.10181533 31.377168,0.0778631466 32.0529883,0.0541961084 C33.1556875,0.036517116 34.258957,0.0188381236 35.3616562,0.000873986092 Z'%20fill%3D'%23EC7A5C'%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    opacity: 1;
    outline: 0;
    position: absolute;
    top: 200px;
    left: -67px;
    width: 73px;
    height: 73px;
    -webkit-transition: left 1s ease, opacity 0s ease, visibility 0s ease;
    -o-transition: left 1s ease, opacity 0s ease, visibility 0s ease;
    transition: left 1s ease, opacity 0s ease, visibility 0s ease;
    visibility: visible; }
    body .call-to-action-canvas .call-to-action-toggle span.icon {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2034%2035'%3E%3Cpath%20d%3D'M25.7580513,34.5625 L8.5505641,34.5625 C4.05558974,34.5625 0.398410256,30.891875 0.398410256,26.380375 L0.398410256,8.719375 C0.398410256,4.207875 4.05558974,0.53725 8.5505641,0.53725 L25.7580513,0.53725 C30.2530256,0.53725 33.9102051,4.207875 33.9102051,8.719375 L33.9102051,26.380375 C33.9102051,30.891875 30.2530256,34.5625 25.7580513,34.5625 Z M8.5505641,3.16225 C5.49753846,3.16225 3.01379487,5.655125 3.01379487,8.719375 L3.01379487,26.380375 C3.01379487,29.444625 5.49753846,31.9375 8.5505641,31.9375 L25.7580513,31.9375 C28.8110769,31.9375 31.2948205,29.444625 31.2948205,26.380375 L31.2948205,8.719375 C31.2948205,5.655125 28.8110769,3.16225 25.7580513,3.16225 L8.5505641,3.16225 Z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2034%2035'%3E%3Cpath%20d%3D'M20.3729744,26.6665 L14.1954359,26.6665 C13.4727179,26.6665 12.8877436,26.079375 12.8877436,25.354 C12.8877436,24.628625 13.4727179,24.0415 14.1954359,24.0415 L20.3729744,24.0415 C21.0956923,24.0415 21.6806667,24.628625 21.6806667,25.354 C21.6806667,26.079375 21.0948205,26.6665 20.3729744,26.6665 Z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2034%2035'%3E%3Cpath%20d%3D'M16.8857949,15.2915 L14.1954359,15.2915 C13.4727179,15.2915 12.8877436,14.704375 12.8877436,13.979 C12.8877436,13.253625 13.4727179,12.6665 14.1954359,12.6665 L16.8857949,12.6665 C17.6085128,12.6665 18.1934872,13.253625 18.1934872,13.979 C18.1934872,14.704375 17.607641,15.2915 16.8857949,15.2915 Z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2034%2035'%3E%3Cpath%20d%3D'M17.2842051,26.103875 C16.5614872,26.103875 15.9765128,25.51675 15.9765128,24.791375 L15.9765128,13.979 C15.9765128,13.253625 16.5614872,12.6665 17.2842051,12.6665 C18.0069231,12.6665 18.5918974,13.253625 18.5918974,13.979 L18.5918974,24.791375 C18.5918974,25.515875 18.0060513,26.103875 17.2842051,26.103875 Z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"), url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2034%2035'%3E%3Cellipse%20cx%3D'17.2031282'%20cy%3D'9.64775'%20rx%3D'1.66251282'%20ry%3D'1.668625'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
      display: block;
      margin: auto;
      width: 34px;
      height: 35px; }
  body .call-to-action-canvas .call-to-action-canvas-content {
    background: #fff;
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    position: absolute;
    top: 0;
    width: 100%; }
    body .call-to-action-canvas .call-to-action-canvas-content::-webkit-scrollbar {
      display: none; }
    body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header {
      background-position: right center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 90px 70px 95px;
      position: relative; }
      @media all and (max-width: 767px) {
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header {
          padding: 50px 40px 60px; } }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header .call-to-action-close {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z '%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        outline: 0;
        position: absolute;
        right: 34px;
        top: 34px;
        height: 24px;
        width: 24px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
        @media all and (max-width: 767px) {
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header .call-to-action-close {
            right: 15px;
            top: 15px; } }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header h4.call-to-action-title,
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header p.call-to-action-description {
        color: #fff;
        width: 60%; }
        @media all and (max-width: 767px) {
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header h4.call-to-action-title,
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header p.call-to-action-description {
            width: 100%;
            text-align: center; } }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header h4.call-to-action-title {
        font-size: 28px;
        line-height: 34px; }
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header h4.call-to-action-title .underline {
          display: inline-block; }
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header h4.call-to-action-title .underline:after {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%20353%2010'%3E%3Cpath%20d%3D'M49.9838979,9.80140463 C44.7514147,9.79465885 37.0586796,9.94951414 25.7704347,9.99326249 C14.4844328,10.033638 7.04719435,9.88215556 4.92186127,9.81489618 C2.79836336,9.7509105 1.42647034,9.15857166 0.73501831,7.80554715 C0.0428526053,6.45252263 -0.0283112866,6.13953837 0.00737261339,5.0457303 C0.0459112253,3.87107209 1.98324113,2.12758607 3.12736892,2.16468785 C4.27241429,2.19831754 6.47033862,2.50455602 9.73449787,2.68292233 C12.9993708,2.86466152 32.2842757,3.37962232 38.9052704,3.43011645 C45.528712,3.47723769 309.542571,-0.134134433 319.025312,0.00385640972 C328.508054,0.138474363 327.093952,0.525562981 331.9959,0.677045379 C336.897848,0.828428575 346.621201,1.13139337 347.441931,0.996775419 C348.26368,0.865431152 350.184494,-0.325992297 351.617967,0.892414264 C353.048382,2.11082083 353.515331,5.41258158 352.313293,7.09872849 C351.113295,8.78160171 349.381096,9.27969806 348.08832,8.76811015 C346.795543,8.25989514 345.009309,7.89304386 342.972268,7.67092919 C340.933188,7.45218742 324.208654,6.5837677 319.792006,6.60400503 C184.879896,7.22218015 184.897313,9.97533657 49.9838979,9.80140463 Z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
            content: "";
            display: block;
            height: 10px;
            position: relative;
            width: 100%;
            top: -5px; }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header p.call-to-action-description {
        font-size: 14px;
        line-height: 20px;
        margin-top: 15px; }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header a.call-to-action-purchase-link {
        background-color: #fff;
        -webkit-box-shadow: -2px 2px 81px -27px rgba(0, 0, 0, 0.29);
        box-shadow: -2px 2px 81px -27px rgba(0, 0, 0, 0.29);
        display: block;
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
        min-width: 50%;
        margin-top: 35px;
        padding: 22px 30px 18px;
        text-transform: uppercase;
        text-align: center;
        width: 50%; }
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header a.call-to-action-purchase-link:hover {
          opacity: 1; }
        @media all and (max-width: 767px) {
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-header a.call-to-action-purchase-link {
            padding: 22px 20px 18px;
            width: 100%; } }
    body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-testimonial {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin: 55px 70px 0;
      padding-bottom: 45px;
      position: relative;
      text-align: center; }
      @media all and (max-width: 767px) {
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-testimonial {
          margin: 45px 40px 0;
          padding-bottom: 35px; } }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-testimonial .call-to-action-testimonial-rating {
        font-family: star;
        font-size: 14px; }
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-testimonial .call-to-action-testimonial-rating:before {
          content: "\53\53\53\53\53"; }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-testimonial .call-to-action-testimonial-text {
        color: #000;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        margin: 20px auto 0;
        width: 85%; }
        @media all and (max-width: 767px) {
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-testimonial .call-to-action-testimonial-text {
            width: 100%; } }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-testimonial .call-to-action-testimonial-author {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        margin-top: 20px; }
    body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin: 40px 70px 0;
      padding-bottom: 70px; }
      @media all and (max-width: 767px) {
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts {
          margin: 40px 40px 0;
          padding-bottom: 40px; } }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts .call-to-action-layouts-description,
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts .call-to-action-layouts-footer-text {
        font-size: 14px;
        line-height: 20px;
        margin: 0 auto;
        text-align: center;
        width: 80%; }
        @media all and (max-width: 767px) {
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts .call-to-action-layouts-description,
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts .call-to-action-layouts-footer-text {
            width: 100%; } }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts .call-to-action-layouts-footer-text {
        margin-top: 40px; }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts .call-to-action-layouts-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 335px 335px 335px;
        grid-template-rows: 335px 335px 335px;
        grid-gap: 25px;
        margin-top: 40px; }
        @media all and (max-width: 767px) {
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts .call-to-action-layouts-grid {
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: 240px 240px 240px 240px 240px;
            grid-template-rows: 240px 240px 240px 240px 240px; } }
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts .call-to-action-layouts-grid .call-to-action-layout-image {
          border: 1px solid rgba(0, 0, 0, 0.1);
          overflow: hidden;
          position: relative; }
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts .call-to-action-layouts-grid .call-to-action-layout-image .call-to-action-layout-badge {
            border-radius: 10px;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            left: 15px;
            padding: 4px 10px 6px;
            position: absolute;
            top: 15px; }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts a.call-to-action-purchase-link {
        color: #fff;
        display: block;
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
        min-width: 50%;
        margin: 35px auto 0;
        padding: 22px 30px 18px;
        text-transform: uppercase;
        text-align: center;
        width: 50%; }
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts a.call-to-action-purchase-link:hover {
          opacity: 1; }
        @media all and (max-width: 767px) {
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-page-layouts a.call-to-action-purchase-link {
            padding: 22px 20px 18px;
            width: 100%; } }
    body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links {
      margin: 0 auto;
      padding: 30px 70px 50px;
      text-align: center; }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-documentation-link,
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-support-link {
        color: #000;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        text-transform: uppercase; }
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-documentation-link:before,
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-support-link:before {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          position: relative;
          top: 5px; }
        @media all and (max-width: 767px) {
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-documentation-link,
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-support-link {
            display: block; } }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-documentation-link:before {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2050%2050'%3E%3Cpath%20d%3D'M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 17.664062 16 L 17.664062 34 L 23.839844 34 C 29.191844 34 32.335938 30.670141 32.335938 24.994141 C 32.335938 19.331141 29.178844 16 23.839844 16 L 17.664062 16 z M 19.910156 18.021484 L 23.691406 18.021484 C 27.682406 18.021484 30.039062 20.616531 30.039062 25.019531 C 30.039063 29.409531 27.708406 31.978516 23.691406 31.978516 L 19.910156 31.978516 L 19.910156 18.021484 z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }
      @media all and (max-width: 767px) {
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-documentation-link {
          margin-bottom: 10px; } }
      body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-support-link {
        margin-left: 20px; }
        body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-support-link:before {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2050%2050'%3E%3Cpath%20d%3D'M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25.019531 15 C 19.794531 15 16.529297 18.712688 16.529297 24.679688 C 16.529297 30.672688 19.756531 34.347656 25.019531 34.347656 C 26.210531 34.347656 27.336266 34.156156 28.322266 33.785156 L 29.949219 36 L 32.535156 36 L 30.193359 32.746094 C 32.293359 31.235094 33.470703 28.354688 33.470703 24.679688 C 33.470703 18.725688 30.218531 15 25.019531 15 z M 25.019531 17.126953 C 28.758531 17.126953 31.101562 20.046641 31.101562 24.681641 C 31.101562 27.498641 30.294656 29.701516 28.847656 30.853516 L 27.169922 28.625 L 24.558594 28.625 L 27.003906 31.941406 C 26.363906 32.133406 25.71025 32.222656 25.03125 32.222656 C 21.24025 32.222656 18.898438 29.342641 18.898438 24.681641 C 18.898437 20.033641 21.254531 17.126953 25.019531 17.126953 z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }
        @media all and (max-width: 767px) {
          body .call-to-action-canvas .call-to-action-canvas-content .call-to-action-links .call-to-action-support-link {
            margin-left: 0; } }

body .call-to-action-canvas-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  top: 0;
  -webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
  -o-transition: opacity 0.5s ease, visibility 0.5s ease;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  visibility: hidden;
  width: 100%;
  z-index: 8889; }

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px); }
  to {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px); } }

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px); }
  to {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px); } }
